
<div class="ui statistics">

  <div class="red statistic">
    <div class="value">
      <%= @users.all.count %>
    </div>
    <div class="label">
      Total users
    </div>
  </div>

  <div class="green statistic">
    <div class="value">
      <%= FlowEntry.all.count %>
    </div>
    <div class="label">
      Flow entries
    </div>
  </div>

</div>
