<div class="ui container">

  <h1>Alfred le flow tracker</h1>

  <p>
    Bienvenue sur l'interface d'Alfred.
  </p>

  <p>
    Je te rappelle brievement l'objectif de l'app : analyser ton quotidien pour te permettre d'améliorer/changer ce que tu souhaiterais changer.
  </p>

  <h2 class="ui dividing header">Conseils d'utilisation (a lire)</h3>
  <p>
    Je te conseille de recueillir des données pendant une période d'au moins une semaine avant d'essayer de les interpréter.
  </p>
  <p>Lance Alfred tous les matins quand tu te leves et arrete le quand tu vas te coucher.</p>
  <p style="color: red">
    Pour interpréter les résultats je t'invite vivement a lire le chapitre 11 et 12 <a href="https://www.hacking-social.com/wp-content/uploads/2019/01/La-piste-du-flow-0.2.pdf">du livre de hacking-social.com</a>, ça te donnera toute les clés.
  </p>

  <h2 class="ui dividing header">Passer le test</h3>
  <p>
    Pense simplement a envoyer ces messages a alfred sur une durée d'au moins 2 jours :
  </p>
  <div class="ui bulleted list">
    <div class="item"><b>Start</b> : Alfred commencera a t'envoyer le questionnaire toute les 1-3h</div>
    <div class="item"><b>Stop</b> : Alfred arretera de t'envoyer le questionnaire</div>
  </div>

  <p>
    Ces deux commandes te permettent de passer correctement le test.
  </p>

  <h2 class="ui dividing header">Voir les résultats </h3>
  <p>
     Envoie <b>link</b> a Alfred, il te donnera le lien pour aller voir les résultats.<br>
     Ps : tu ne peux voir les résultats que si tu as assez de données.
  </p>

  <h2 class="ui dividing header">Bug report</h3>
  <p>
     Tu viens de remarquer un bug ? <br>
     Tu peux m'envoyer un mail a harry.jmg@gmail.com en mettant dans l'objet du mail <b>"[BUG ALFRED]"</b>
  </p>

  <h2 class="ui dividing header">En savoir plus sur le flow</h3>
  <p>
    Si tu n'es pas familier avec le concept de flow ou que tu ne comprends pas comment le test pourrait t'etre utile, je pense que c'est important que tu te renseigne un minimum, voici quelques ressources :
  </p>
  <div class="ui bulleted list">
    <div class="item"><a href="https://en.wikipedia.org/wiki/Flow_(psychology)">L'article wikipedia sur le flow</a></div>
    <div class="item"><a href="https://www.hacking-social.com/2018/09/03/fl1-donner-des-sens-a-la-vie-la-piste-du-flow/">Un article</a> et <a href="https://www.hacking-social.com/wp-content/uploads/2019/01/La-piste-du-flow-0.2.pdf">un livre génial intitulé "la piste du flow"</a> de hacking-social.com</div>
  </div>
  <p>
    Si tu as la flemme de lire, tape "flow psychologie" sur youtube et de regarde une ou deux vidéos sur le sujet.
  </p>

</div>

<style>
  p {
    font-size: medium;
  }

  .item {
    font-size: medium;
  }
</style>
